tabs {
  counter-reset: tab-counter;
}

tab:nth-child(1) .tab-content::before,
tab:nth-child(2) .tab-content::before,
tab:nth-child(3) .tab-content::before,
tab:nth-child(4) .tab-content::before,
tab:nth-child(5) .tab-content::before,
tab:nth-child(6) .tab-content::before,
tab:nth-child(7) .tab-content::before,
tab:nth-child(8) .tab-content::before {
  counter-increment: tab-counter;
  content: counter(tab-counter) "";
  padding: 0px 4px;
  margin-right: 5px;
  border-radius: 7px;
  color: black;
  background: #ff0c;
}
/* dont count for collapsed group  */
tab-group[collapsed] .tab-content::before {
  counter-increment: not-a-counter;
}


/* vertical lines between tabs */
tab-group > vbox {
  padding-left: 3px;
  border-left: var(--tabstrip-inner-border) !important;
}
tab {
  border-left: var(--tabstrip-inner-border) !important;
}
/* remove the border on the whole thing or there will be two */
tabs {
  border-inline-start: none !important;
}
/* don't show it on the first tab in a group or the collapsed group */
tab-group tab:first-of-type {
  border-left: none !important;
}
tab-group[collapsed] tab {
  border-left: none !important;
}

