Include /Users/tim/.colima/ssh_config
 
Host betta
  User tim

host staging
  HostName staging.hotpage.dev
  User ubuntu

host app0
  HostName app-server-0.hotpage.dev
  User ubuntu

host app1
  HostName app-server-1.hotpage.dev
  User ubuntu

host lb
  HostName load-balancer.hotpage.dev
  User ubuntu

host redis
  HostName redis.hotpage.dev
  User ubuntu

host clickhouse
  HostName clickhouse.hotpage.dev
  User ubuntu

host squids
  HostName squids.nube
  User tim
