<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Action Configurations</key>
	<array>
		<dict>
			<key>Action Type</key>
			<integer>0</integer>
			<key>Hot Key: Reverse</key>
			<dict>
				<key>Key Code</key>
				<integer>35</integer>
				<key>Modifiers</key>
				<integer>1966379</integer>
				<key>Visual Representation</key>
				<string>⌃⌥⇧⌘P</string>
			</dict>
			<key>Hot Key: Standard</key>
			<dict>
				<key>Key Code</key>
				<integer>45</integer>
				<key>Modifiers</key>
				<integer>1966379</integer>
				<key>Visual Representation</key>
				<string>⌃⌥⇧⌘N</string>
			</dict>
			<key>Menu</key>
			<false/>
			<key>Orientation</key>
			<integer>0</integer>
			<key>Placeholder</key>
			<true/>
			<key>Placeholder: Mode</key>
			<integer>0</integer>
			<key>Sort Order</key>
			<integer>3</integer>
			<key>Sort Order: Invert</key>
			<false/>
			<key>Spaces</key>
			<true/>
			<key>Tabs</key>
			<true/>
			<key>Tabs: Frontmost Window Only</key>
			<false/>
			<key>Tabs: Mode</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>Activate Item</key>
	<true/>
	<key>Activate On No Modifiers</key>
	<true/>
	<key>After-Close Selection</key>
	<integer>3</integer>
	<key>Application Exceptions</key>
	<array>
		<string>MonitorControl</string>
	</array>
	<key>Application Name Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>Application Name Shadow</key>
	<false/>
	<key>Auto-Enabled Once</key>
	<true/>
	<key>Background Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgCDAAAAP4Y=
	</data>
	<key>Confirm Deletions</key>
	<false/>
	<key>Cycle Apps &gt; Windows: Ignore Parent Orientation</key>
	<true/>
	<key>Dock Indicator Border Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZoNmZmY/g83MTD+G
	</data>
	<key>Icon Mode</key>
	<integer>1</integer>
	<key>Icon Mode: Superimpose Application Icon</key>
	<true/>
	<key>Ignore Non-Standard Windows</key>
	<true/>
	<key>Initial Selection: Sorted By Activity: Skip Active Entry</key>
	<true/>
	<key>Item Height</key>
	<real>61</real>
	<key>Key Badge Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMGhANA
	QECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaYHWFsdGVybmF0ZVNlbGVjdGVkQ29u
	dHJvbENvbG9yhoSTlQGEBGZmZmYAAIP8iX8/AYaG
	</data>
	<key>Last Daemon Hash</key>
	<data>
	K6CkXtDoUy6q8L0EiNFR3pGBsaY=
	</data>
	<key>Last Selected Tab</key>
	<string>other</string>
	<key>Maximum Width</key>
	<real>0.75792500000000007</real>
	<key>Panel Delay</key>
	<integer>0</integer>
	<key>Panel Shadow</key>
	<true/>
	<key>Preview Delay</key>
	<integer>504</integer>
	<key>Run Badge Script</key>
	<true/>
	<key>Selection Border Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>Selection Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMGhANA
	QECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaYHWFsdGVybmF0ZVNlbGVjdGVkQ29u
	dHJvbENvbG9yhoSTlQGEBGZmZmYAAIP8iX8/AYaG
	</data>
	<key>Selection Window Name Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>Show Application Names</key>
	<true/>
	<key>Show Minimized Bevels</key>
	<true/>
	<key>Show Panel On Mouse Screen</key>
	<integer>2</integer>
	<key>Show Previews</key>
	<true/>
	<key>Show Search Field</key>
	<false/>
	<key>Space Indicator Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZoPNzEw/AYY=
	</data>
	<key>Use Core Window Fallback: Use AppleScript</key>
	<true/>
	<key>Window Name Color</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>Window Name Shadow</key>
	<false/>
</dict>
</plist>
